.detalhes {
    padding: $padding-default;
    background-color: $five;

    &__titulo {
        @include titulo-padrao ($fonte-lg: 1.875rem, $bold: 400);
        margin-bottom: 1.25rem;
    }

    &__texto {
        @include texto-padrao($fonte-lg: .875rem);
        line-height: 1.8rem;
        
        @media (min-width: 768px){
            padding: .2rem .3rem;
        }
       
    }

    &__dot {
        color: $first;
        font-size: 30px;
        align-self: flex-start;
    }

    &__borda {
        @media(min-width: 768px) {
            border: solid 1px $first;
            border-radius: 15px;
        }
    }
}