.diferenciais{
    background-color: #F5F5F5;
    padding: $padding-default;

    &__titulo{
        @include titulo-padrao($fonte-lg: 1.875rem);
        margin-bottom: 1.25rem;
    }

    &__texto{
        @include texto-padrao($fonte-lg: .875rem);
        margin-bottom: 1.25rem;
    }

    &__icone{
        &__texto{
            @include texto-padrao($fonte-lg: .875rem);
            font-weight: 700;
        }
    }
}

