.formulario{
    background-color: $five;
    padding: $padding-default;

    &__titulo{
        @include titulo-padrao($cor-da-fonte: $secondary, $fonte-lg: 1.875rem, $bold: 400);
        margin-bottom: 1rem;
    }
    &__texto{
        @include texto-padrao;
        margin-bottom: 1rem;
    }

    &__form{
        p{
            width: 100%;
        }
        form{
            display: flex;
            flex-direction: column;

            @media (min-width: 992px){
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        input{
            width: 100%;
            height: 44px;
            padding: 1rem;
            border-radius: $border-radius-default;
            margin: .6rem 0;
            @media (min-width: 992px){
                margin: 0;
                width: 95%;
            }
        }
        ::-webkit-input-placeholder {
           font-size: 14px;
          }

        input[type=submit]{
            @include botao-padrao;
            margin-top: 1rem;
            border: none;
            padding: 0;
            @media (min-width: 992px){
                width: 30%;
            }
        }
    }
}