@import "global/mixins.scss";

.home {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-color: rgb(218, 209, 209);
    background-blend-mode: multiply;
    padding: .5rem 0;
    
    @media(min-width: 992px){
        height: 80vh;
    }
    
    @media (min-width:1440px) {
     height: 70vh;
    }

    h1 {
        margin-bottom: 1.56rem;
        @include titulo-padrao ($cor-da-fonte: $five);
        @media(min-width: 992px){
            margin-top:70px;
        }
        
        @media (min-width:1440px) {
            margin-top:170px;
        }
    }

    &__h2 {
        @include texto-padrao($cor-da-fonte: $five);
        margin-bottom: 2.87rem;
        
        @media (min-width:1024px) {
            margin-bottom: 6rem;
        }
    }

    &__botao {
        @include botao-padrao;
        margin-bottom: 1rem;
        @media (min-width:992px) {
            margin-bottom: 0;
        }
    }

    a {
        color: $five;
    }
    h3{
        // background-color: $secondary;
        // opacity: .8;
        // padding: 2rem;
        // text-align: center;
    }
}