.informacoes-apto{
    background-color: $fourth;
    color: $five;
    padding: $padding-default;
    text-align: left;

    &__titulo{
        @include titulo-padrao($cor-da-fonte: $five, $fonte-lg: 2.25rem, $bold: 700);
    }
    &__texto{
        @include texto-padrao($cor-da-fonte:$five);
        margin-bottom: 1rem;
        font-weight: 700;
    }

    &__itens{
        @include texto-padrao($cor-da-fonte:$five, $fonte-lg: 0.875rem);
        text-align: left; 
    }

}