@import "global/variables.scss";
// Mixins
%font-padrao{
    font-family: 'Montserrat', sans-serif;
}
$margin_default: 32.5px;

@mixin titulo-padrao ($cor-da-fonte: $secondary, $fonte-lg: 2.875rem, $bold: 700){
    @extend %font-padrao;
    color: $cor-da-fonte;
    font-size: 1.375rem;
    font-weight: $bold;
    line-height: 26px;
    @media(min-width: 768px){
        font-size: $fonte-lg;
        line-height: 50px;
    }
}

@mixin texto-padrao($cor-da-fonte: $secondary, $fonte-lg: 1.125rem){
    @extend %font-padrao;
    font-size: .875rem;
    color: $cor-da-fonte;
    line-height: 1.5rem;

    @media (min-width:768px) {
        font-size: $fonte-lg;
    }
}

@mixin botao-padrao {
    color: $third;
    background: $first;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    @extend %font-padrao;
    width: 100%;
    border-radius: $border-radius-default;
    text-align: center;
    padding: 1rem;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        opacity: .8;
    }
}

//font size 
@mixin font-size($sizeValue: 30 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}
  
@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
  
@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}


%color_first{
    color: $first;
}
%color_secondary{
    color: $secondary;
}
%color_third{
    color: $third;
}



//placeholders
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

