.navbar{
    background-color: $fourth;

    &__container{
        align-content: center;
    }

    &__logos{
        display: flex;
        align-items: center;
        align-content: center;

        &__andorinha{
            border-right: solid 1px $five;
            padding-right: 10px;
        }
    }

    ul{
        @extend %font-padrao;
        li{
            color: $third;
            margin-right: .5rem;
            font-size: 12px;
            @media (min-width: 992px){
                margin-right: 1rem;
                font-size: 14px;
            }
            &:hover{
                text-decoration: underline;
                font-weight: 700;
            }
            a {
                cursor: pointer;
                
            }
        }
    }
}
