.oferta{
    background-color: $five;
    padding: $padding-default;

    &__h2{
        @include titulo-padrao($fonte-lg: 1.875rem );
        margin-bottom: 1.567rem;
    }

    &__botao{
        margin-top: 1.567rem;
        @include botao-padrao;
    }

    a{
        color: $secondary;
    }
}