.planta {
    background-color: $five;
    padding: $padding-default;

    &__titulo {
        @include titulo-padrao($fonte-lg: 1.875rem);
    }

    &__texto {
        @include texto-padrao($cor-da-fonte: #5E5E5E, $fonte-lg: 1.125rem);
        text-align: center;
        text-decoration: underline;
        font-weight: 700;
        order:1;
        @media (min-width: 992px){
            text-decoration: none;
            order:2;
            border: solid 1px $first;
            padding: .5rem;
            border-radius: 15px;
        }
    }
    &__img{
        order: 2;
        @media (min-width: 992px){
            order: 1;
        }
    }
}
